<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FluffyKVM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <FluffyKVM.Properties.Settings>
            <setting name="protocol" serializeAs="String">
                <value>USB</value>
            </setting>
            <setting name="showMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="serialPort" serializeAs="String">
                <value/>
            </setting>
            <setting name="baudRate" serializeAs="String">
                <value>5000000</value>
            </setting>
            <setting name="destinationIp" serializeAs="String">
                <value>192.168.1.52</value>
            </setting>
            <setting name="destinationPort" serializeAs="String">
                <value>15977</value>
            </setting>
        </FluffyKVM.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
